@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&display=swap');

body {
  font-family: "Roboto Mono", monospace !important;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.winningline {
  color: firebrick;
}

.square:focus {
  outline: none;
}

.square:hover {
  background: rgb(179, 179, 179);
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  padding: 8px;
}

.game-ctrl {
  padding: 8px;
}
